<ion-view view-title="{{book.name}}" name="book-detail" animation="slide-left-right">
    <ion-nav-buttons side="primary">
        <button ng-click="goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-slide-box>
            <ion-slide ng-repeat="img in book.bookImgs" does-continue="true">
                <div class="img-slider-wrap" style="background:url({{img|addserverhost}}) no-repeat;background-size:cover;" ng-click="showSlideModal($index)">
                    <div class="img-slider-mask">
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="book-info">
            <h3 class="title">{{book.name}}</h3>
            <div class="book-user-info">
                <img src="../img/user1.jpg" alt="" class="avatar">
                <div>{{user.name}}</div>
            </div>
            <div class="book-desc">{{book.desc}}</div>
            <div class="card douban-info">
                <div class="item item-text-wrap" ng-click="summaryShow=!summaryShow">
                    <span>豆瓣评分：</span>
                    <span class="badge badge-assertive rating">{{book.doubanInfo.rating}}</span>
                    <span class="ion accordion-icon" ng-class="{'ion-ios-arrow-up':summaryShow,'ion-ios-arrow-down':!summaryShow}"></span>
                </div>
                <p class="item item-text-wrap" ng-show="summaryShow">内容简介：{{book.doubanInfo.summary}}</p>
            </div>
            <div class="hr">
                <span>取物地址</span>   
            </div>
            <img ng-src="{{book.locationImg}}" alt="" class="book-location-img" ng-click="showMapModal()">
        </div>
    </ion-content>
    <ion-footer-bar class="bar" ng-show="curUser._id != user._id">
        <button class="button button-balanced button-large pull-right" id="borrowBtn" ng-click="borrow()">我想借</button>
    </ion-footer-bar>
</ion-view>
