<ion-modal-view>
    <ion-header-bar class="bar-positive fix-buttons">
        <a class="button button-icon icon ion-close-round" ng-click="closeAddBookModal()"></a>
        <h1 class="title">添加图书</h1>
    </ion-header-bar>
    <ion-content>
        <label class="item item-img-add">
            <ul ng-show="prevImgList.length" class="img-prev">
                <li class="prev-item" ng-repeat="imgUrl in prevImgList" >
                    <img ng-src="{{imgUrl}}" class="prev-img">
                </li>
            </ul>
            <ion-spinner ng-show="bookInfo.loading"></ion-spinner>
            <span class="img-add-block" ng-show="!bookInfo.loading && prevImgList.length <= 3">
                <em class="icon ion-ios-plus-empty img-add-icon"></em>
                <div class="img-input-wrap">
                <form action={{addNewBookAction}} enctype="multipart/form-data">
                    <input type="file" accept="image/x-png, image/gif, image/jpeg" class="img-add-input" onchange="angular.element(this).scope().fileChange(this)">
                </form>
                </div>
            </span>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="书名" name="name" ng-model="bookInfo.bookName" ng-change="getDoubanInfo()">
        </label>
        <ul class="list" ng-show="doubanSuggestShow">
            <li class="item" ng-repeat="book in doubanSuggestBooks" ng-click="doubanBookSelected($index)">
                <h2>{{book.title}}</h2>
                <p>作者:{{book.author[0]}},价格:{{book.price}},<strong>评分:{{book.rating.average}}</strong></p>
            </li>
        </ul>
        <label class="item item-input">
            <textarea name="" rows="3" placeholder="描述" name="desc" ng-model="bookInfo.bookDesc"></textarea>
        </label>
        <label class="item">
            <span>豆瓣评分</span>
            <span class="badge badge-energized">{{bookInfo.doubanRating}}</span>
        </label>
        <div class="item" ng-click="triggeLocationShow()">
            <span class="input-label">地点:{{location.name}}</span>
        </div>
        <ul class="user-location list" ng-show="showLocation">
            <li class="item" ng-repeat="ul in usrLocations track by $index" ng-click="selectSuggestLocation($index)">{{ul.name}}</li>
            <li class="item" ng-click="openAddLocationModal()">添加新地址</li>
        </ul>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="submitNew()">
                提交
            </button>
        </div>
    </ion-content>
</ion-modal-view>
