<ion-view view-title="借用意向" name="book-history" animation="slide-left-right">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                {{bHis.statusStr}}
            </div>
            <div class="item item-avatar">
                <img src="../img/user2.png">
                <p>{{bHis.borrower.name}}</p>
            </div>
            <div class="item item-body">
                <h2>《{{bHis.book.name}}》</h2>
                <img class="full-image" ng-src="{{bHis.book.bookImgs[0] | addserverhost}}">
                <p>
                    {{bHis.book.desc}}
                </p>
                <p>
                    豆瓣评分：{{bHis.book.doubanInfo.rating}}
                </p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="button-bar" ng-show="actionShow">
        <div class="button-bar" borrow-action>
        </div>
    </ion-footer-bar>
</ion-view>
