<ion-view view-title="设置" name="config-view">
    <ion-nav-buttons side="primary">
        <button ng-click="goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a href="" class="item item-icon-right">
                修改密码
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-divider"></div>
            <a href="" class="item item-icon-right">
                给我们提意见
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a href="" class="item item-icon-right">
                关于邻书
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-divider"></div>
            <a href="" class="item item-icon-right" ng-click="logout()">
                退出登录
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
