<ion-view view-title="登陆" name="login-view" animation="slide-left-right">
  <ion-content>
      <div class="list">
          <label class="item item-input">
              <input type="text" placeholder="用户名" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="密码" ng-model="data.password">
          </label>
      </div>
      <div class="padding">
        <button class="button button-block button-calm" ng-click="login()">登陆</button>
      </div>
      <div class="padding">
        <a class="button button-block" ui-sref="signin">去注册</a>
      </div>
  </ion-content>
</ion-view>