<ion-modal-view>
    <ion-header-bar class="bar-positive fix-buttons">
        <a class="button button-icon icon ion-close-round" ng-click="closeAddSchduleModal()"></a>
        <h1 class="title">添加行程</h1>
    </ion-header-bar>
    <ion-content>
        <label class="item item-input item-stacked-label">
            <span class="input-label">行程介绍:</span>
            <textarea row="3" ng-model="schdule.desc" class="schdule-desc"></textarea> 
        </label>
        <label class="item item-input">
            <span class="input-label">开始时间:</span>
            <input type="datetime-local" ng-model="schdule.starttime">
        </label>
        <label class="item item-input">
            <span class="input-label">结束时间:</span>
            <input type="datetime-local" ng-model="schdule.endtime" >
        </label>
        <div class="item item-icon-left item-icon-right" ng-click="triggeLocationShow()">
            <i class="icon ion-ios-navigate-outline"></i>
            <span class="input-label">行程地点:{{location.name}}</span>
            <i class="icon ion-ios-arrow-down"></i>
        </div>
        <ul class="user-location list" ng-show="showLocation">
            <li class="item" ng-repeat="ul in usrLocations track by $index" ng-click="selectSuggestLocation($index)">{{ul.name}}</li>
            <li class="item" ng-click="openAddLocationModal()">添加新地址</li>
        </ul>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="addSchdule()">
                提交
            </button>
        </div>
    </ion-content>
</ion-modal-view>
