<ion-view view-title="附近" align-title="center">
    <!--     <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-map"></a>
    </ion-nav-buttons>
 -->
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-plus-round" ng-click="toggleAddActionList($event)"></a>
    </ion-nav-buttons>
    <div class="action-select-wrapper" ng-show="showAddActionList" ng-click="toggleAddActionList($event)">
        <div class="list add-action-list has-header">
            <a class="item item-icon-left" ng-click="openAddBookModal()">
                <i class="icon ion-ios-book"></i> 添加图书
            </a>
            <a class="item item-icon-left" ng-click="openAddScheduleModal()">
                <i class="icon ion-ios-calendar"></i> 添加行程
            </a>
        </div>
    </div>
    <ion-content>
        <div class="list card" ng-repeat="book in booklist">
            <a class="item item-avatar" nav-direction="forward" ui-sref="useraccount({id:book._user._id})">
                <img ng-src="{{book._user.avatar | addserverhost}}" alt="">
                <h2>{{book._user.name}}</h2>
                <strong ng-if="book.starttime">#行程#</strong>
            </a>
            <a class="item item-thumbnail-left" nav-direction="forward" ui-sref="bookdetail({id:book._id})" ng-if="book.addDate">
                <img ng-src="{{book.bookImgs[0] | addserverhost}}">
                <h2>{{book.name}}</h2>
                <p>{{book.desc}}</p>
            </a>
            <a ng-if="book.starttime" class="item" nav-direction="forward" ui-sref="schedule({id:book._id,userId:book._user._id})">
                <strong>{{book.starttime | date:'M月d日'}}</strong>
                我在<strong>{{book.locationName}}</strong>
                <p>快来和我交换图书吧</p>
            </a>
        </div>
    </ion-content>
</ion-view>
