<ion-view view-title="我">
    <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-ios-gear-outline"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <!-- <a href="#login" class="button button-block button-calm">登陆</a>
	<a href="#signin" class="button button-block button-balanced">注册</a> -->
        <div class="profile">
            <div class="base-info">
                <div class="avatar"></div>
                <div class="user-name"></div>
            </div>
            <div class="book-info"></div>
        </div>
        <div class="user-books"></div>
    </ion-content>
</ion-view>
