$img-add-size:70px;
$img-add-border-color:#ccc;
img {
    width: 100%;
}

.item-img-add {
    .img-add-block {
        float: left;
        display: inline-block;
        width: $img-add-size;
        height: $img-add-size;
        position: relative;
        border: 1px dashed $img-add-border-color;
        .img-add-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            margin: auto;
            overflow: auto;
            height: 50px;
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            color: $img-add-border-color;
        }
        .img-input-wrap {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            overflow: hidden;
            .img-add-input {
                width: 100%;
                height: 100%;
            }
        }
    }
    .img-prev {
        .prev-item {
            width: $img-add-size;
            height: $img-add-size;
            list-style: none;
            float: left;
            margin-right: 5px;
            .prev-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .spinner svg {
        width: $img-add-size;
        height: $img-add-size;
    }
}

#mapContainer {
    width: 100%;
    height: 80%;
    min-height: 300px;
}

.img-slider-wrap {
    height: 60vh;
    position: relative;
    .img-slider-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.transparent {
  background: rgba(0, 0, 0, 0.7) !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}


/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
