@import './slider.scss';
$img-add-size:70px;
$img-add-border-color:#ccc;
img {
    width: 100%;
}

.item-img-add {
    .img-add-block {
        float: left;
        display: inline-block;
        width: $img-add-size;
        height: $img-add-size;
        position: relative;
        border: 1px dashed $img-add-border-color;
        .img-add-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            margin: auto;
            overflow: auto;
            height: 50px;
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            color: $img-add-border-color;
        }
        .img-input-wrap {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            overflow: hidden;
            .img-add-input {
                width: 100%;
                height: 100%;
            }
        }
    }
    .img-prev {
        .prev-item {
            width: $img-add-size;
            height: $img-add-size;
            list-style: none;
            float: left;
            margin-right: 5px;
            .prev-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .spinner svg {
        width: $img-add-size;
        height: $img-add-size;
    }
}

#mapContainer {
    width: 100%;
    height: 80%;
    min-height: 300px;
    &.full-map{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      margin-top: -45px;
      padding-top: 45px;
    }
}

.accordion-icon {
    width: 10px;
    display: block;
    margin: 0 auto;
}

.book-info {
    padding: 10px 15px;
    .title {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }
    .book-user-info {
        margin: 0 auto;
        width: 65px;
        text-align: center;
        .avatar {
            border-radius: 50%;
        }
    }
    .book-desc {
        margin-top: 10px;
    }
    .douban-info {
        border: 1px solid rgba(0, 0, 0, 0.17);
        box-shadow: none;
        margin: 20px 0;
        display: inline-block;
        width: 100%;
        .douban-rating {
            font-size: 16px;
            .rating {
                float: right;
            }
        }
    }
}

#borrowBtn {
    min-width: 150px;
    font-size: 16px;
}

.hr {
    border-top: 1px dotted #ddd;
    color: #333;
    text-align: center;
    span {
        position: relative;
        bottom: 9px;
        padding: 0 10px;
        background-color: white;
    }
}

